/**
 * Assignment 3 - Web Development
 * Author: Garcia Damian
 * Date: 2025-08-22
 *
 * Description:
 *  This CSS file contains styles for the HTML elements used in Assignment 3.
 */

/*Styles for header*/
header {
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(5, 137, 126);
    padding: 5px;
    padding-bottom: 0%;
    margin-bottom: 0px;
}

/*Styles for navigation links*/
#navigation {
    background: #e9eae7;
    color: white;
    font-size: 1.2em;
    margin: -5px;
    text-align: left;
}

/*Styles for tables*/
table {
    border: 5px solid #242424;
    margin-bottom: 10px;
}

/*Styles for table headers and data cells*/
th, td {
    background: rgb(148, 148, 148);
    color: white;
    text-align: left;
    border: 1px solid #919191;
    padding: 8px;
}

/*Styles for table headers*/
th {
    background: rgb(227, 212, 2);
    color: rgb(255, 255, 255);
}

/*Styles for footer*/
footer {
    background: rgb(5, 137, 126);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}
